body{
    padding: 100px;
}
.submit-area{
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px red;
    padding: 50px;
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    color: white;
    border-radius: 10px;
    padding: 20px;
}
.deposit{
    background-color: blueviolet;
}
.withdraw{
    background-color: chocolate;
}
.balance{
    background-color: tomato;
}